* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Monaco, Verdana, sans-serif;
    color:rgb(221, 221, 221);
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    line-height: 1.5;
    padding: 0px 230px;
    padding-top: 30px;
}

h1,
h2
{
    text-align: center;
    padding: 12px;
}

h1 {
    outline: 1px groove rgba(0, 0, 255, 0.356);
    margin-bottom: 15px;
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
}

.box_1, .box_2, .box_3 {
    display: inline-block;
    width: 32.4%;
    height: 180px;
    margin: 3px 1px;
    padding-top: 65px;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
}

.outline {
    outline: 4px ridge rgba(0, 0, 122, 0.205);
    box-shadow: 4px 4px 5px rgba(8, 58, 58, 0.801);
}

.recipe-links {
    list-style: none;
    font-size: 28px;
    text-align: center;
    
    /* margin-bottom: 50px; */
}

a {
    text-decoration: none;
  }

.images {
    text-align: center;
}

li {
    margin: 7px 0;
  }
